@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.Gaia {
    width: 100vw;
    height: 100vh;
}
  
.img{
  width: 700px;
  height: 500px;
  padding-top: 20px;
}

.vertical2 {
padding-right: 5rem;
margin-right: 3rem;
font-size: 25px;
}

.title{
  font-size: 38px;
  font-family: 'Kanit', sans-serif;
  padding-top: 0px;
}

.Common{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

.Sciname{
  font-size: 20px;
  font-style: italic;
  font-family: 'Kanit', sans-serif;
}


.title_sciname{
  font-size: 28px;
  font-family: 'Kanit', sans-serif;
}

.title_Common{
  font-size: 28px;
  font-family: 'Kanit', sans-serif;

}

.title_desc
{
  font-size: 28px;
  font-family: 'Kanit', sans-serif;

}

.title_benefit
{
  font-size: 28px;
  font-family: 'Kanit', sans-serif;

}

.desc{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}


.benefit{
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate3d(-40%, -50%, 0);
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
}